html[data-theme='dark'] {
	/* Base Colors */
	--revilium-accent: #7f58d3;
	--revilium-base: #27272a;
	--revilium-secondary: #18181b;
	--revilium-terciary: black;
	--revilium-surface0: #27272a;
	--revilium-surface1: black;
	--revilium-surface2: black;
	--revilium-overlay0: #3f3f46;
	--revilium-overlay1: black;
	--revilium-overlay2: black;
	--revilium-text: white;
	--revilium-subtext0: #a5a5a5;
	--revilium-subtext1: #bfbfbf;
	--revilium-danger: #aa4042;
	--revilium-warning: #da9438;
	--revilium-success: green;

	/* Statuses */
	--revilium-status-offline: #5b5b5b;
	--revilium-status-online: #00a2ff;
	--revilium-status-ingame: #7f58d3;

	/* Role Colors */
	--revilium-role-banned: #282828;
	--revilium-role-user: transparent;
	--revilium-role-bc: #00a2ff;
	--revilium-role-tbc: #f6b702;
	--revilium-role-obc: #f68802;
	--revilium-role-catalog_manager: #d47fa4;
	--revilium-role-administrator: #d33e52;
	--revilium-role-developer: linear-gradient(to right, #7f58d3, #bd58d3);
}
